<div class="container">
    <form method="post" action="/register">
        <legend>Register</legend>
        <label>Username:</label>
        <input type="text" placeholder="username" name="username"/>
        <label>Email:</label>
        <input type="text" placeholder="username" name="email" class="input-xlarge"/>
        <label>Password:</label>
        <input type="password" placeholder="password" name="password"/>
        <label>Confirm Password:</label>
        <input type="password" placeholder="password" name="password2"/>
        <br/>
        <button type="submit" class="btn btn-primary" style="margin-top: 12px">Register</button>
    </form>
</div>