<div>
    <form class="form-horizontal form-compose">
        <div class="control-group">
            <label class="control-label" for="inputWarning">To:</label>
            <div class="controls">
                <input type="text" name="to">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputWarning">Subject:</label>
            <div class="controls">
                <input type="text" name="subject">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputWarning">Tags:</label>
            <div class="controls">
                <input type="text" name="tags">
            </div>
        </div>

    </form>
</div>