<script type="text/javascript">
    $(document).ready(function() { $('#testinput').autoComplete({url: "/usersearch"}); });
</script>
<!--<div class="container">
    <div class="row">
        <div class="span2">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="active">
                        <a href="#">Inbox</a>
                    </li>
                    <li>
                        <a href="#">Newsfeed</a>
                    </li>
                    <li>
                        <a href="#">Your Wall</a>
                    </li>
                    <li class="nav-header">Users</li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-user"></i>&nbsp;Henry Williams</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-user"></i>&nbsp;David Veitch</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-user"></i>&nbsp;Andrew Jenson</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-chevron-down"></i>&nbsp;See More...</a>
                    </li>
                    <li class="nav-header">Groups</li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-group"></i>&nbsp;Trading</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-group"></i>&nbsp;Execution</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-group"></i>&nbsp;Global</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-chevron-down"></i>&nbsp;See More...</a>
                    </li>
                    <li class="nav-header">Pages</li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-file"></i>&nbsp;Vodafone</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-file"></i>&nbsp;Apple</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-file"></i>&nbsp;City Group</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-chevron-down"></i>&nbsp;See More...</a>
                    </li>
                    <li class="nav-header">Tags</li>
                    <li>
                        <a href="#" style="font-size: 10px"><i class="icon-tag"></i>&nbsp;Trading</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span10">
            <div class="well oh">
                <button class="btn btn-danger fl space-right" style="width: 95px"><i class="icon-edit"></i>&nbsp;Public
                </button>
                <button class="btn btn-danger fl space-right" style="width: 95px"><i class="icon-edit"></i>&nbsp;Private
                </button>
                <div class="btn-group fl" data-toggle="buttons-radio">
                    <button type="button" class="btn">Thin</button>
                    <button type="button" class="btn">Thick</button>
                    <button type="button" class="btn">Split</button>
                </div>
            </div>-->
            <div class="container">
                <input type="text" id="testinput" name="test"/>
            </div>
  <!--      </div>
    </div>
</div>-->