<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Loqui</title>
    <link rel='stylesheet' href='/styles/styles.css'/>
    <link rel='stylesheet' href='/fontawesome/css/font-awesome.css'/>
    <link rel='stylesheet' href='/styles/autocomplete.css'/>
    <script src='/javascripts/jquery-1.8.1.js' type='text/javascript'></script>
    <script src='/javascripts/bootstrap.js' type='text/javascript'></script>
    <script src='/javascripts/jquery.textchange.min.js'></script>
    <script src='/javascripts/jquery.autocomplete.js' type='text/javascript'></script>
    <style type='text/css'>
        body {
            margin-top: 69px;
        }
    </style>
</head>
<body>
<!-- main bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Test</a>
        </div>
    </div>
</div>
<%- body %>
</body>
</html>